<!DOCTYPE html>
<html>
  <head>
    <title>RedditClone</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="../assets/stylesheets/application.css">
  </head>

  <body>
  <header>
    <h1>GeorgeReddit</h1>
    <% unless logged_in? %>
      <div>
        <form action="<%= new_user_url %>" method="GET">
            <input type="submit" value="Sign Up">
        </form>

        <form action="<%= new_session_url %>" method="GET">
            <input type="submit" value="Log In">
        </form>
      </div>
      <% else %>
      <form action="<%= session_url %>" method="POST">
        <input type="hidden" name="_method" value="DELETE">
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
        <input type="submit" value="Log Out">
      </form>
  <% end %>
      </header>
      <div>
        <% if flash[:errors] %>
          <ul>
              <% flash[:errors].each do |error| %>
                  <li><%= error %></li>
              <% end %>
          </ul>
        <% end %>
      </div>
  
     <%= yield %>

     <footer>
      <div>
        <p>GeorgeReddit</p>
      </div>

      <div>
        <p>Copyright 2021</p>
      </div>
     </footer>

</body>
</html>
